html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bs-body-bg);
}

/* stylelint-disable-next-line selector-max-id */
#app {
  position: relative;

  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
