@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 400;
  font-style: normal;
  src: url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff2') format('woff2'),
    url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.woff') format('woff'),
    url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans TC Heavy';
  font-weight: 400;
  font-style: normal;
  src: url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2') format('woff2'),
    url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff') format('woff'),
    url('//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf') format('opentype');
}
